#playing-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background:#c0a0f0b0;

}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  height: 400px;
  margin: 15px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 3px 3px 0 gray;
  border: 1px solid black;
}

.card:hover{
    transform: scale(1.07);
    transform: rotate(360deg);
    transition: all 0.5s ease;
    box-shadow: 0 0 1.5px 1.5px;
}

.left{
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-self: flex-start;
}

.middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.right{
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-self: flex-end;
}

.letter, .hand{
  font-size: 34px;
  font-weight: bold;
}

.middle-hand{
  font-size: 95px;
  font-weight: bold;
}

.card:nth-of-type(3),.card:nth-of-type(5), .card:nth-of-type(6),
 .card:nth-of-type(8), .card:nth-of-type(10){
  color: red;
}

.upside-down{
  transform: rotate(180deg);
}