*{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  
}

.page-wrapper{
  position: sticky;
  top: 0;    
  left: 0;         
  width: 100%; 
  padding: 10px;
  background: inherit;
  z-index:1000; 
  
}

div{
  display: block;
  unicode-bidi: isolate;
  
}

body{
  background-color: #eee;
  font-family: lato, sans-serif;
}

h2{
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 10px auto;
  font-weight: bold;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  font-size:20px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.btn:hover{
  background: linear-gradient(45deg, #fffe, #ffdd57); 
  cursor: pointer;
}

@media(max-width: 650px){
  #hero{
    margin-top: 120px;
  }
}

#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  padding-top: 100px;
  padding-bottom: 50px;

}

input[type="email"]{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 250px;
  height: 50px;
  padding: 2px 10px 2px 2px;
}

input[type="submit"]{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: orange;
  border: none;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 18%;
}

input, div, iframe{
  border-radius: 5px;
}


 #form, #submit{
  padding: 5px;
  margin: 5px;
  border: inherit;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

#header-img{
  height: 60px;
  width: auto;
  margin-right: 10px; 
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-link:hover {
  background: linear-gradient(45deg, #fffe, #ffdd57); 
  cursor: pointer;
}

#nav-bar{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  
}
.nav-link{
  padding: 30px;
  color: black;
  text-decoration: none;
}

#features{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
}

.grid{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

.icon{
  padding-right: 25px;
  border: 0px;
  color: orange;
}

.desc{
  padding-left: 10px;
  margin: 5px; 
}

#how-it-works{ 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  left: 50%;

}

#video{
  position: relative;
  width: 400px;
  height: 270px;
  padding: 10px;
  border: 2px black;
  border-radius: 5px;
}

#pricing{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
  margin: 0px;
  border: auto;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 300px;
  height: 280px;
  margin: 5px;
  padding: 25px;
  color: black;
  text-decoration: none;
}

.level{
  width: 255px;
  height: 50px;
  display: block;
  text-align: center;
  padding: 5px;
  border: 2px solid #D3D3D3;
  background-color: #D3D3D3;
}

.product ol li{
  display: block;
  padding-left: 5px;
}

.product h2, .product .level{
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

h2, ul{
 padding: 5px;
}

.product .level h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #D3D3D3;
}

.foot{
  padding: 2px;
  color: black;
  text-decoration: none;
}

html{
  display: block;
  padding: 5px;
}
