/* Survey Form Styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width:750px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
} 

#survey-form {
  max-width: 650px;
}


h1, p, #description {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

input, select, textarea {
  width: 98%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

button {
  background: #1b1b32;
  color: white;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
