
@media (min-width: 768px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    background-color: #f4f1e1;
    padding: 20px;
  }

  #main-doc {
    height: 100vh;
    margin-left: 240px;
    padding: 20px;
  }

  *{
    scroll-behavior: smooth;
  }
}

#navbar {
    background-color: white; 
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    overflow-y: auto;       
    overflow-x: hidden;
    padding: 12px;
    }

.nav-link {
    display: block;
    font-size: 0.95em;
    font-weight: normal;
    font-family: Helvetica, Roboto;
    line-height: 1.8em;
    text-decoration: none;  
    color: #333; 
    margin: 10px 0; 
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-link:visited {
  color: #333;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

   
.nav-head{
    font-size: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title {
    text-align:center;
    font-size: 30px;
    font-weight: 500;
    font-family: Helvetica, Roboto;
    line-height: 1.8em;
    padding:5px;
    background-color:grey;
    border-radius: 3px;
}

.t1{
    top: 0;
    margin-top: 0;
}

.main-section {
    padding:10px; 
}

code{
    color: #d6336c;
    padding: 0.4em 0.4em;
    border: 1em;
    font-size: 0.95em;
    font-weight: 500;
    border-radius: 4px;
    font-family: "Courier New", monospace;
}

pre{
  background: #f5f5f5;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 6px;
}

p, li, ul{
    font-size: 0.94em;
    font-family: Helvetica, Roboto;
    line-height: 1.8em;
    padding: 0.2em;
    border: 2em;
}

ul, ol {
  padding-left: 40px;
}
